# App Configuration
APP_NAME="Gourmet Express"
APP_ENV=local
APP_URL=http://gourmet-express.local
APP_PORT=80
APP_DEBUG=true

# Database Configuration
DB_HOST="db"
DB_PORT=3306
DB_NAME="set_db_name"
DB_USER="set_db_user"
DB_PASS="set_db_pass"

# phpMyAdmin Configuration
PMA_PORT=8081

# Mailtrap Configuration
MAIL_HOST="sandbox.smtp.mailtrap.io"
MAIL_PORT=2525
MAIL_USER="set_mail_user"
MAIL_PASS="set_mail_pass"

# API Configuration
GOOGLE_MAPS_API_KEY="google_maps_api_key_here"
PAYPAL_CLIENT_ID="paypal_client_id_here"
PAYPAL_CLIENT_SECRET="paypal_client_secret_here"
PAYPAL_ENV="sandbox"

