APP_NAME="Gourmet Express"
APP_ENV=local
APP_URL=http://gourmet-express.local
APP_PORT=8080
APP_DEBUG=true

DB_HOST=DB
DB_PORT=3306
DB_NAME=set_db_name
DB_USER=set_db_user
DB_PASS=set_db_pass

GOOGLE_MAPS_API_KEY=google_maps_api_key_here
PAYPAL_CLIENT_ID=paypal_client_id_here
PAYPAL_CLIENT_SECRET=paypal_client_secret_here
